@model CreateClientModel
@{
    ViewData["Title"] = "Clients | New";
}

<div class="admin-page">
    <h2 class="common-heading">New Client</h2>
    
    <form method="post" asp-action="New">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ClientId" class="control-label"></label>
            <input class="common-input" minlength="4" maxlength="40" asp-for="ClientId" autofocus/>
            <span asp-validation-for="ClientId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Secret" class="control-label"></label>
            <input class="common-input" minlength="4" maxlength="40" asp-for="Secret"/>
            <span asp-validation-for="Secret" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input class="common-input" minlength="4" maxlength="40" asp-for="Name"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Flow" class="control-label"></label>
            <select class="common-input" asp-for="Flow">
                <option value="0">Client Credentials</option>
                <option value="1">Code Flow (with PKCE)</option>
            </select>
        </div>
        <div class="block-buttons flex-gap-1">
            <button class="common-button flex-cc" type="submit">Create</button>
             <a class="common-button back-button flex-cc" asp-action="Index">Back to List</a>
        </div>
    </form>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}