@model UserCreateModel

@{
    ViewData["Title"] = "Users | New";
}

<div class="admin-page">
    <h2 class="common-heading">Create new User</h2>

    <form asp-action="New" class="common-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName" class="common-label"></label>
            <input asp-for="FirstName" placeholder="Please, enter first name" class="common-input" minlength="4" maxlength="40" autofocus/>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="common-label"></label>
            <input asp-for="LastName" placeholder="Please, enter last name" class="common-input" minlength="4" maxlength="40"/>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserName" class="common-label"></label>
            <input asp-for="UserName" placeholder="Please, enter username" class="common-input" minlength="4" maxlength="40" autocomplite="off" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="common-label"></label>
            <input type="email" asp-for="Email" placeholder="Please, enter email" class="common-input" minlength="4" maxlength="40"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="common-label"></label>
            <input type="tel" asp-for="Phone" placeholder="Please, enter phone number" class="common-input" minlength="10" maxlength="18"/>
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="common-label"></label>
            <input type="password" asp-for="Password" placeholder="Please, enter password" class="common-input" minlength="4" maxlength="40" autocomplete="off"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RolesList" class="common-label"></label>
            <select asp-for="@Model.SelectedRoleId" asp-items="@Model.RolesList" class="form-control">
            </select>
        </div>
        <div class="block-buttons flex-gap-1">
            <button class="common-button flex-cc" type="submit">Create</button>
            <a class="common-button back-button flex-cc" asp-action="Index">Back to List</a>
        </div>
    </form>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}