@model IdsTemp.Models.Manage.DeletePersonalDataViewModel

@{
    ViewData["Title"] = "Delete Personal Data";
}

<h2 class="common-heading">@ViewData["Title"]</h2>

<div class="admin-page common-form">
    <div class="alert alert-danger" role="alert">
        <span class="bi bi-exclamation-triangle"></span>
        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
    </div>
     <form id="delete-user" method="post" class="form-group">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.RequirePassword)
            {
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" class="common-input" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            }
            <div class="common-block-buttons">
                <button class="common-button danger-button" type="submit">Delete data and close my account</button>
            </div>
            
        </form>
</div>
