@model IdsTemp.Models.Manage.TwoFactorAuthenticationViewModel

@{
    ViewData["Title"] = "Two-factor authentication (2FA)";
}

<partial name="_StatusMessage" for="StatusMessage"/>

<h2 class="common-heading">@ViewData["Title"]</h2>

<div class="admin-page common-form">
    @if (Model.Is2FaEnabled)
    {
        switch (Model.RecoveryCodesLeft)
        {
            case 0:
                <div class="alert alert-danger">
                    <strong>You have no recovery codes left</strong>
                    <p>You must <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a> before you can log in with a recovery code</p>
                </div>
                break;
            case 1:
                <div class="alert alert-danger">
                    <strong>You have 1 recovery code left</strong>
                    <p>You can generate a new set of recovery codes <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a></p>
                </div>
                break;
            case <= 3:
                <div class="alert alert-warning">
                    <strong>You have @Model.RecoveryCodesLeft.ToString() recovery codes left</strong>
                    <p>You should <a asp-action="GenerateRecoveryCodes">generate a new set of recovery codes</a></p>
                </div>
                break;
        }

        <div class="common-block-buttons">
            <a asp-action="Disable2FaWarning" class="common-button flex-cc">Disable 2FA</a>
            <a asp-action="GenerateRecoveryCodesWarning" class="common-button flex-cc danger-button">Reset recovery codes</a>
            @if (Model.IsMachineRemembered)
            {
                <form method="post" asp-controller="Manage" asp-action="ForgetTwoFactorClient">
                    <button type="submit" class="common-button back-button">Forget this browser</button>
                </form>
            }
        </div>
    }

    <div>
        <h4 class="common-heading">Authenticator app</h4>

        <div class="common-block-buttons">
            @if (!Model.HasAuthenticator)
            {
                <a id="enable-authenticator" asp-action="EnableAuthenticator" class="common-button flex-cc">Add authenticator app</a>
            }
            else
            {
                <a id="enable-authenticator" asp-action="EnableAuthenticator" class="common-button flex-cc">Setup authenticator app</a>
                <a id="reset-authenticator" asp-action="ResetAuthenticatorWarning" class="common-button flex-cc danger-button">Reset authenticator app</a>
            }
        </div>
    </div>

</div>