@page
@{
}

<div class="admin-page">
    <h2>IdentityServer Admin</h2>
    <div class="row">Administrative pages simple</div>
    <div class="row">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" asp-page="/Admin">Clients</a>
            <a class="list-group-item list-group-item-action" asp-page="/Admin">Identity Scopes</a>
            <a class="list-group-item list-group-item-action" asp-page="/Admin">API Scopes</a>
        </div>
    </div>
</div>