@using Duende.IdentityServer.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

<div class="nav-page">
    <div class="auth-container">
        <nav class="auth-navbar">
            <div class="auth-nav-container">
                <a href="~/" class="auth-brand">IdentityServer</a>

                <ul class="auth-navbar-list">

                    @if (!string.IsNullOrWhiteSpace(name))
                    {
                        <li class="auth-nav-item dropdown">
                            <a href="#" class="auth-nav-link dropdown-toggle" data-toggle="dropdown">
                                @name <b class="caret"></b>
                            </a>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-action="Index" asp-controller="Manage">Profile</a>
                                <a class="dropdown-item" asp-area="" asp-action="PersonalData" asp-controller="Manage">My personal data</a>
                                <a class="dropdown-item" asp-area="" asp-action="TwoFactorAuthentication" asp-controller="Manage">Two-factor authentication</a>
                                <a class="dropdown-item" asp-area="" asp-action="Index" asp-controller="Grants">Persisted grants</a>
                                <a class="dropdown-item" asp-area="" asp-action="ChangePassword" asp-controller="Manage">Change password</a>
                                <a class="dropdown-item" asp-area="" asp-action="Index" asp-controller="Settings">Settings</a>
                            </div>
                        </li>
                    }
                    @if (User.IsInRole("ISAdministrator"))
                    {
                        <li class="auth-nav-item">
                            <a class="auth-nav-link" asp-area="AdminPanel" asp-controller="Home" asp-action="Index">Admin Panel</a>
                        </li>
                    }

                </ul>
            </div>
            @if (User.IsAuthenticated())
            {
                <div class="auth-nav-item">
                    <a class="auth-nav-link" asp-area="" asp-action="Logout" asp-controller="Account">Logout</a>
                </div>
            }
        </nav>
    </div>
</div>