@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IdsTemp.Models.AdminPanel.SettingsViewModel

@{
    ViewData["Title"] = "Settings";
}

<div class="admin-page">
   <form asp-action="Index" class="common-form">
       <select asp-for="@Model.SelectedThemeId" asp-items="@Model.ThemesList" class="common-input">
       </select>
       <div class="block-buttons flex-gap-1">
           <button class="common-button flex-cc" type="submit">Select Theme</button>
       </div>
   </form>
   
   <a href="~/.well-known/openid-configuration">discovery server configuration</a> 
</div>

