@using Duende.IdentityServer.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IHttpContextAccessor _httpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    @*<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">*@

    <title>IdentityServer</title>

    <link rel="icon" type="image/x-icon" href="~/favicon.ico"/>
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico"/>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    @{
        var context = _httpContextAccessor.HttpContext?.Request;
        var theme = context?.Cookies["currentTheme"]?.ToString();

        if (theme.IsNullOrEmpty())
        {
            <link rel="stylesheet" href="~/css/themes/site.css" asp-append-version="true"/>
        }
        @*else
        {
            switch (theme)
            {
                case "green":
                    <link rel="stylesheet" href="~/css/themes/green.css"/>
                    break;
                case "red":
                    <link rel="stylesheet" href="~/css/themes/red.css"/>
                    break;
                case "blue":
                    <link rel="stylesheet" href="~/css/themes/blue.css"/>
                    break;
            }
        }*@

    }
    
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/> *@
    
    @* <link rel="stylesheet" href="~/IdsTemp.styles.css" asp-append-version="true"/> *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"/>

</head>
<body>
<partial name="_Nav"/>

<div class="container">
    @RenderBody()
</div>


<div class="test">
    <select name="theme" id="theme" onchange="changeTheme(this.options[this.selectedIndex].value)">
        <option value="default">Default</option>
        <option value="red">Red</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
    </select>
</div>

<script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script>
    const changeTheme = (selectedTheme) => {
        console.log(selectedTheme)
        if (selectedTheme) {
             document.cookie = "currentTheme=" + selectedTheme
             window.location.reload();
        }
       
    }
    
    
    // $("#theme").on("change", function () {
    //     var item = $("#theme option:selected").text();
    //    
    //     $.post("/AdminPanel/SetTheme", {
    //         data: item
    //     });
    // });
</script>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>