@model IdsTemp.Models.Account.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot your password?";
}

@await Html.PartialAsync("_ValidationSummary")

<h2 class="auth-heading">@ViewData["Title"]</h2>

<div class="admin-page common-form">

    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
        <h3 class="text-center">Choose a method to retrieve your password:</h3>
        <div class="form-group">
            <div class="flex-gap-1">
                <input type="radio" asp-for="Policy" value="Email"/> Email
            </div>
            <div class="flex-gap-1">
                <input type="radio" asp-for="Policy" value="Username"/> Username
            </div>
        </div>
        <div class="resetPasswordBy" id="resetPasswordByEmail">
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" type="email" class="common-input"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="auth-button">Submit</button>
        </div>
        <div class="resetPasswordBy" id="resetPasswordByUsername">
            <div class="form-group">
                <label asp-for="Username">Username</label>
                <input asp-for="Username" type="text" class="common-input"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="common-block-buttons">
                 <button type="submit" class="common-button">Submit</button>
            </div>
           
        </div>
    </form>
</div>

@section Scripts
{
    <script src="~/js/forgot-password.js">
    </script>
}