@model IdsTemp.Models.Account.LogoutViewModel

<div class="logout-page flex-cc">
    <div class="logout-header flex-cc">
        <h1>Logout</h1>
        <p>Would you like to logout of IdentityServer?</p>
    </div>

    <form asp-action="Logout" class="logout-button flex-cc">
        <input type="hidden" name="logoutId" value="@Model.LogoutId"/>
        <button class="common-button flex-cc" style="width: 100%">Yes</button>
    </form>
</div>