@model IdsTemp.Models.Account.RegisterConfirmationViewModel

@{
    ViewData["Title"] = "Confirm your email";
}

<div class="admin-page">
    <h2>@ViewData["Title"]</h2>
    
    <p>Verification email sent. Please check your email.</p>
</div>

