@model IdsTemp.Models.Account.RegisterViewModel
<partial name="_ValidationSummary"/>
<div class="auth-page">

    <div class="auth-main-block">
        <div class="heading-block">
            <h2 class="auth-heading">New account</h2>
        </div>
        <form asp-route="Register" class="auth-inputs-block">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            @*<input type="hidden" asp-for="ReturnUrl"/>*@
            <div class="auth-input-block">
                <input class="input-validation-error common-input auth-input"
                       placeholder="Please, enter username"
                       asp-for="Username"
                       autofocus
                       minlength="4"
                       maxlength="50"
                       autocomplete="off">
                <span asp-validation-for="Username" class="auth-input-asp-validation"></span>
            </div>
            <div class="auth-input-block">
                <input class="input-validation-error common-input auth-input"
                       placeholder="Please, enter email"
                       asp-for="Email"
                       autocomplete="off">
                <span asp-validation-for="Email" class="auth-input-asp-validation"></span>
            </div>
            <div class="auth-input-block">
                <input type="password"
                       id="password"
                       class="input-validation-error common-input auth-input"
                       placeholder="Please, enter password"
                       asp-for="Password"
                       autocomplete="off"
                       minlength="6" maxlength="40">
                <i class="bi bi-eye-slash auth-toggle-password"
                   id="togglePassword">
                </i>
                <span asp-validation-for="Password" class="auth-input-asp-validation"></span>
            </div>
            <div class="auth-input-block">
                <input type="password"
                       id="password"
                       class="input-validation-error common-input auth-input"
                       placeholder="Please, repeat password"
                       asp-for="ConfirmPassword"
                       autocomplete="off"
                       minlength="6" maxlength="40">
                <i class="bi bi-eye-slash auth-toggle-password"
                   id="togglePassword">
                </i>
                <span asp-validation-for="Password" class="auth-input-asp-validation"></span>
            </div>
            <button name="button" value="Register"
                    type="submit" id="submit"
                    class="auth-button flex-cc">
                SIGN UP
            </button>
        </form>
        <a href="@Url.Action("Login", new { Model.ReturnUrl })"
           class="auth-link">
            Back to login
        </a>
    </div>
</div>
<script>
    const togglePassword = document
        .querySelector('#togglePassword');
  
    const password = document.querySelector('#password');
  
    togglePassword.addEventListener('click', () => {
  
        const type = password
            .getAttribute('type') === 'password' ?
            'text' : 'password';
                  
        password.setAttribute('type', type);
  
        this.classList.toggle('bi-eye');
    });
</script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}