@model IdsTemp.Models.Account.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset password";
}

@await Html.PartialAsync("_ValidationSummary")

<div class="admin-page">
    <h2 class="auth-heading">@ViewData["Title"]</h2>
    <form asp-controller="Account" asp-action="ResetPassword" method="post">
        <h3>Reset your password</h3>
        <input asp-for="Code" type="hidden"/>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" type="email" class="common-input"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" type="password" class="common-input"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">Confirm Password</label>
            <input asp-for="ConfirmPassword" type="password" class="common-input"/>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="auth-button">Reset</button>
    </form>
</div>